ion-label {
  &.red{
    color: #bf0b29 ;
  }
  &.orange {
    color: #995512;
  }
  &.default {}
}

.content-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loader {
  width: 80px;
  height: 80px;
}

