<ion-header>
  <ion-toolbar>
    <ion-title>
      History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card *ngFor="let qsos of qsoHistory; let i = index">
        <ion-card-header>
        <ion-card-subtitle>{{qsos.timeSaved}}</ion-card-subtitle>
          <ion-card-title>{{qsos.name}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            <ion-button color="primary" shape="round" size="small" (click)="loadQsos(i)">load</ion-button>
            <ion-button color="secondary" shape="round" size="small" (click)="exportQsos(i)">export</ion-button>
            <ion-button color="tertiary" shape="round" size="small" (click)="showQsoEditModal(i)">edit</ion-button>
            <ion-button color="danger" shape="round" size="small" (click)="deleteQsos(i)">delete</ion-button>
        </ion-card-content>
    </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="primary" (click)="archiveQsoDialog()" >
        <ion-icon name="archive"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
