<ion-header class="ion-no-border">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-title>
            <span *ngIf="isNew; else editCall">
              New entry 
            </span>
            <ng-template #editCall>
              Edit &nbsp;{{ station.callsign }}
            </ng-template>
          </ion-title>
        </ion-col>
        <ion-col>
          <ion-button
            color="secondary"
            shape="round"
            size="small"
            strong="true"
            expand="block"
            (click)="dismissAndSave()">
            Save
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-header>
<ion-content>
  <ion-item *ngIf="isNew">
    <ion-label position="floating">
      Callsign
    </ion-label>
    <ion-input
      type="text"
      [(ngModel)]="station.callsign"
      (ionChange)="callCheck($event)">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      Name
    </ion-label>
    <ion-input
      type="text"
      [(ngModel)]="station.name">
    </ion-input>
  </ion-item>
</ion-content>
